* {
  font-family: Arial, sans-serif;
  font-weight: 100;
}

body {
  background-color: #F4C265;
  color: #355573;
}

footer p {
  box-sizing: border-box;
  width: 200px;
  padding: 20px;
  border: 50px solid black;
}

div {
  text-align: center;
}

a {
  color: orange;
}

a:hover {
  color: green;
}

a::after {
  content: " (opens in new window)";
}

h1 {
  color: #F0581E;
  text-shadow: 1px 1px 4px #F3F0F2;
}

h2 {
  color: #F56D4E;
  text-shadow: 1px 1px 4px #F3F0F2;
}

h3 {
  color: #F3F0F2;
  text-shadow: 1px 1px 4px #F0581E;
}

h4 {
  margin: 0;
}

img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
}

.store-info {
  background-color: rgba(224,170,206,0.7);
  padding: 20px;
}

.company-info {
  background-color: rgba(77,41,24,0.2);
  padding: 20px;
}

.merchandise {
  background-color: rgba(53,166,53,0.3);
  padding: 20px;
}

input:focus {
  background-color: #f4f699;
  outline-color: orange;
}

/*this is a class that we have to put on the element we want to clear*/
.clearfix {
  clear: both;
}

/*implement our grid*/

.row,
.column {
  box-sizing: border-box;
  padding: 5 px;
}

.row::before,
.row::after {
  content: "";
  display: table;
}

.row::after {
  clear:both;
}

.column {
  position: relative;
  float: left;
}

/*one column is 8.33% wide*/

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 24.98%;
}

.col-4 {
  width: 33.32%
}

.col-5 {
  width: 41.65%
}

.col-6 {
  width: 49.98%
}

.col-7 {
  width: 58.3%
}

.col-8 {
  width: 66.66%
}

.col-9 {
  width: 74.97%
}

.col-10 {
  width: 83.3%
}

.col-11 {
  width: 91.66%
}

.col-12 {
  width: 100%
}

fieldset {
  margin: 0;
}

fieldset:first-child label {
  display: block;
}
